@page
@using Microsoft.Extensions.Localization
@using EasyAbp.Abp.EntityUi.Localization
@model EasyAbp.Abp.EntityUi.Web.Pages.EntityUi.IndexModel
@inject IStringLocalizer<EntityUiResource> L
@{
}
<h1>EntityUi</h1>
<p>@L["SamplePageMessage"]</p>
