@page "/EntityUi"
@using Microsoft.Extensions.Localization
@using global::EasyAbp.Abp.EntityUi.Localization
@inject IStringLocalizer<EntityUiResource> L
@{
}
<h1>EntityUi</h1>
<p>@L["SamplePageMessage"]</p>